@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700;800&display=swap");
@import "bootstrap-icons/font/bootstrap-icons.css";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Nunito", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

footer.sticky-footer {
  padding: 2rem 0;
  flex-shrink: 0;
  background-color: #ffffff;
}
.footer-text {
  line-height: 1;
  font-size: 0.8rem;
  text-align: center !important;
}

.primary {
  background-color: #4e73df !important;
}
.secondary {
  background-color: #3b5998 !important;
}
/* .leftmenu-container {
  width: 220px;
  min-height: 100vh;
  font-family: 'Nunito', sans-serif;
} */
 .leftmenu-link {
  padding: 1rem;
  font-size: 0.85rem;
  font-family: "Nunito", sans-serif;
  gap: 0.5rem;
  transition: all 0.3s ease;
}

.leftmenu-heading {
  height: 4.375rem;
  font-size: 1rem;
  padding: 1.5rem 1rem;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
  font-weight: bold;
  font-family: "Nunito", sans-serif;
  color: white;
}

.leftmenu-container {
  position: fixed;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  z-index: 1000;
  background: linear-gradient(to bottom, #5179ef, #3d68e3);
  transition: width 0.3s ease;
}

.leftmenu-container.expanded {
  width: 220px;
}

.leftmenu-container.collapsed {
  width: 110px;
}

.transition-logo {
  transition: all 0.3s ease;
}

.leftmenu-header {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.toggle-btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.toggle-btn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.15);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  margin-bottom: 400px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.leftmenu-container.collapsed .leftmenu-link {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.dropdown-menu {
    --bs-dropdown-zindex: 1000;
    --bs-dropdown-min-width: 10rem;
    --bs-dropdown-padding-x: 0;
    --bs-dropdown-padding-y: 0.5rem;
    --bs-dropdown-spacer: 0.125rem;
    --bs-dropdown-font-size: 1rem;
    --bs-dropdown-color: var(--bs-body-color);
    --bs-dropdown-bg: var(--bs-body-bg);
    --bs-dropdown-border-color: var(--bs-border-color-translucent);
    --bs-dropdown-border-radius: var(--bs-border-radius);
    --bs-dropdown-border-width: var(--bs-border-width);
    --bs-dropdown-inner-border-radius: calc(var(--bs-border-radius) - var(--bs-border-width));
    --bs-dropdown-divider-bg: var(--bs-border-color-translucent);
    --bs-dropdown-divider-margin-y: 0.5rem;
    --bs-dropdown-box-shadow: var(--bs-box-shadow);
    --bs-dropdown-link-color: var(--bs-body-color);
    --bs-dropdown-link-hover-color: var(--bs-body-color);
    --bs-dropdown-link-hover-bg: var(--bs-tertiary-bg);
    --bs-dropdown-link-active-color: #000 !important;
    --bs-dropdown-link-active-bg: rgb(255, 255, 255) !important;
    --bs-dropdown-link-disabled-color: var(--bs-tertiary-color);
    --bs-dropdown-item-padding-x: 1rem;
    --bs-dropdown-item-padding-y: 0.25rem;
    --bs-dropdown-header-color: #6c757d;
    --bs-dropdown-header-padding-x: 1rem;
    --bs-dropdown-header-padding-y: 0.5rem;
    position: absolute;
    z-index: var(--bs-dropdown-zindex);
    display: none;
    min-width: var(--bs-dropdown-min-width);
    padding: var(--bs-dropdown-padding-y) var(--bs-dropdown-padding-x);
    margin: 0;
    font-size: var(--bs-dropdown-font-size);
    color: var(--bs-dropdown-color);
    text-align: left;
    list-style: none;
    background-color: var(--bs-dropdown-bg);
    background-clip: padding-box;
    border: var(--bs-dropdown-border-width) solid var(--bs-dropdown-border-color);
    border-radius: var(--bs-dropdown-border-radius);
}

.menu-text {
  font-size: 0.8rem;
}

.notification{
  position: absolute;
    top: -3px;
    left: 4px;
    padding: 4px
}

.message{
  white-space: normal;
}